/* stylelint-disable stylistic/function-parentheses-space-inside */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}


:root {
  /* fonts */
  --fallback-fonts:
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    'segoe UI',
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  --paragraph-font-normal:
    normal normal 400 normal medium / normal 'Fredoka',
    var( --fallback-fonts );

  --paragraph-font-small:
    normal normal 400 normal small / normal 'Fredoka',
    var( --fallback-fonts );

  --paragraph-font-bold:
    normal normal 600 normal medium / normal 'Fredoka',
    var( --fallback-fonts );

  --display-font-large:
    normal normal 600 expanded 36px / normal 'Coolvetica Rg',
    var( --fallback-fonts );

  --display-font-h3:
    normal normal 500 expanded x-large / normal 'Coolvetica Rg',
    var( --fallback-fonts );

  /* fonts end */

  /* colors */
  --color-primary: #2c5282;

  --color-secondary: #c2d4ea;

  --color-style-green: #cdee70;

  --color-style-whitebg: #faffff;

  --color-style-lightbluebg: #ccfff8;

  --color-style-red: #ff7676;

  --color-style-aqua: rgb( 98 240 185 );

  --color-style-gray-purple: #271d91;

  --color-style-dark-purple: #1f055c;

  --color-style-light-purple: #9173da;

  /* shadows  */
  --box-shadow-button:
    rgb( 45 35 66 / 40% ) 0 2px 4px,
    rgb( 45 35 66 / 30% ) 0 7px 13px -3px,
    rgb( 58 65 111 / 50% ) 0 -3px 0 inset;

  --box-shadow-2:
    inset 0px -3px 23px -9px rgb( 255 118 118 / 50% ),
    0px 3px 13px -3px rgb( 39 29 145 / 50% );

  --box-shadow-generic: 0px 3px 13px -3px rgb( 39 29 145 / 50% );

  --box-shadow-3:
    0px -3px 2px inset rgb( 255 118 118 / 50% ),
    0px 7px 13px -3px rgb( 39 29 145 / 50% );

  --box-shadow-4:
    8px 0px 0 inset rgb( 255 118 118 / 50% ),
    0px 7px 13px -3px rgb( 39 29 145 / 50% );

  --button-focus-shadow:
    #3c4fe0 0 0 0 1.5px inset,
    rgb( 45 35 66 / 40% ) 0 2px 4px,
    rgb( 45 35 66 / 30% ) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;


  /*  gradients */
  --radial-gradient-1:
    radial-gradient(
      100% 100% at 100% 0,
      var( --color-style-red ) 0%,
      var( --color-style-green ) 100%
    );
}

body {
  box-sizing: border-box;
  min-height: 100%;

  /* background-color: ivory; */
}

.grid-set {
  display: grid;

  /* grid: auto-flow dense 1fr/ minmax( 20em, fit-content ); */
  grid-template-columns: 1fr minmax(150px, 4fr) 2.5fr;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

/* grids */

.gr-sidebar-a {
  grid-column: 1/2;
  grid-row: 1/3;

  /* align-content: stretch; */
}

.gr-sidebar-b {
  grid-column: 3/4;
  grid-row: 2/4;
  align-content: space-between;
  justify-content: space-between;
  gap: 1em;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}


.gr-header {
  grid-column: 2/-1;
  grid-row: 1;
  align-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 1em;
}

.gr-main {
  grid-column: 2/3;
  grid-row: 2/-1;
  align-content: space-evenly;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.gr-projects {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat( 2, 1fr );
  grid-template-rows: auto;
  gap: 1em 2em;;
}

/* main.gr-main::after{

} */

h1,
h2,
h3,
h4,
h5,
h6 {
  width: fit-content;
  margin: 0;
  padding: 0;
  color: var( --color-style-dark-purple );
  font-size: revert;
}

h2 {
  /* font-size: revert;
  font-size: xx-large; */
}

.h-flex {
  display: flex;
  flex-direction: row;
}

.v-flex {
  display: flex;
  flex-direction: column;
}


/* CSS */


button {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding-right: 3em;
  padding-left: 3em;
  overflow: hidden;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  border: 0;
  border-radius: 8px;
  background-image: var( --radial-gradient-1 );
  box-shadow: var( --box-shadow-button );
  color: var( --color-style-gray-purple );
  font: var( --paragraph-font-normal );
  font-size: 18px;
  line-height: 1;
  list-style: none;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  appearance: none;
  will-change:
    box-shadow,
    transform;
}

.button:focus {
  box-shadow: var( --button-focus-shadow );
}

button:hover {
  transform: translateY( -2px );
  box-shadow:
    rgb( 45 35 66 / 40% ) 0 4px 8px,
    rgb( 45 35 66 / 30% ) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
}

button:active {
  transform: translateY( 2px );
  box-shadow: #3c4fe0 0 3px 7px inset;
}

.search-input {
  width: 100%;
  border-radius: 8px;
  background-color: var( --color-style-whitebg );
}

p {
  color: var( --color-style-light-purple );
  height: fit-content;
  margin: 0;
  padding: 0;
  background-color: var( --color-style-whitebg );
}

.sub-container {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em 2em;
  overflow: hidden;
  background-color: var( --color-style-lightbluebg );
}

.sidebar {
  align-items: start;
  width: 100%;
  padding: 1rem;
  background-color: #cdee70;
}

.sidebar + .sub-container {
  box-shadow: var( --box-shadow-2 );
}

.logo {

}

.header {
  padding: 1em;
}

.logo-bar {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: fit-content;
  color: var( --color-style-gray-purple );
  gap: 10px;
}

.logo-bar h1 {
  font: var( --display-font-large );
}

.user-bar {
  width: fit-content;
  margin-top: 2rem;
  padding-left: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  flex-direction: row;

  /* height: min-content; */
  align-items: center;
  width: fit-content;
  height: fit-content;

  /* padding: 0;
  margin: 0; */
  padding-left: 1em;
  gap: 24px;
}

/* FULL REFERENCE: https://inarocket.com/resources/cssgrid-layouts */


.icon {
  max-width: 24px;
  height: fit-content;

  /* margin: 0;
  padding: 0; */
}

.nav-item-text {
  margin: 1rem;
  color: var( --color-style-gray-purple );
  font: var( --paragraph-font-bold );
}

header {
  background-color: azure;
}

.upper-header {
  display: inherit;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var( --color-style-lightbluebg );
  gap: 4em;
}

.search {
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.notifications {
  display: inherit;
  flex-direction: row;
  align-items: center;

  /* padding: 1em; */
  justify-content: space-evenly;
  width: fit-content;
  text-align: center;
  gap: 2em;
}

.gradient-border {
  box-sizing: content-box;
  width: fit-content;
  height: fit-content;
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient( to bottom right, #fdcaca 0%, rgb( 31 35 253 ) 100% );
}

.profile-pic {
  max-width: 24px;
  max-height: 24px;
}

.notifications .profile-pic {
  /* box-sizing: content-box; */
  max-width: max-content;
  max-height: max-content;

  /* border-radius: 50%; */
}

.notifications img {
  width: 4em;
}

.small-container {
  display: inherit;
  text-align: left;
}

.actions {
  display: inherit;
  gap: 1em;
}

.main {
  padding: 1em;
}

.main h1 {
  padding-top: 2em;
}

.card-a {
  display: flex;
  position: relative;
  z-index: index 2;
  flex-direction: column;
  width: 100%;
  margin: 1em 2em 0.5em 0.5em;
  padding: 2em 0.5em;
  border-radius: 0 8px 8px 0;
  box-shadow: var( --box-shadow-2 );
  gap: 15px;
}

.card-a::before {
  content: '';
  position: absolute;
  z-index: index 1;
  top: 0;
  bottom: 0;
  left: -8px;
  width: 8px;
  border-radius: 8px 0 0 8px;
  box-shadow: var( --box-shadow-4 );
}

.card-a .flex-item {
  /* display: block; */
  flex: 0 1 auto;
  align-self: auto;
}

.card-a h3 {
  font: var( --display-font-h3 );
}

.card-a .icon {
  width: 48px;
  margin: 1em;
}

.card-a > .icon-box {
  /* width:fit-content; */
  display: flex;
  align-items: end;
  justify-content: end;
}

.title {
}

.description {
}

.gr-sidebar-b h1 {
  padding: 0;
  margin: 0;
}

.announcements {
  width: 100%;
  padding: 0;
  box-shadow: var( --box-shadow-generic );
}

.announcements .sub-container {
  /* max-width: fit-content; */
  margin: 0;
  padding: 0;
  background-color: unset;
}

.card-b {
  box-sizing: border-box;
  max-width: fit-content;
  padding: 1em;
  border-radius: 4px;
}

.card-b p {
  padding-top: 1em;
}

.trending {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  width: 100%;
  padding: 1em;
  box-shadow: var( --box-shadow-generic );
  margin-bottom: 2em;
}

.card-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: var( --box-sizing-border-box-2 );
}

.profile {
}

.card-c img.profile {
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
}

.container-hidden {
  width: 100%;

  /* align-items: start; */

  /* padding: 1em; */
  margin: 1em;
}

.user-handle {
  font: var( --paragraph-font-normal );
}
