/* stylelint-disable value-no-vendor-prefix */

/* tbd */
body {
  width: auto;
  height: auto;
  background-color: ivory;
}

button {
  border-radius: 8px;
  background-color: #cdee70;
}

.search-input {
  border-radius: 8px;
  background-color: hsl(0deg 0% 100%);
}

p {
  color: darkgray;
}

.large-container {
  background-color: rgb(222 254 255);
  width: max-content;
  height: max-content;
}

.sidebar {
  background-color: #cdee70;
  width: 15vw;
  padding-left: 1rem;
}

.logo {
}

.user-bar {
  padding-left: 1rem;
}

.nav-item {
}

.icon {
}

.nav-item-text {
}

.header {
}

.search {
}

.notifications {
}

.gradient-border {
  background: -webkit-linear-gradient(
    left top,
    #ff7676 0%,
    rgb(98 240 185) 100%
  );
  width: fit-content;
  padding: 3px;
  border-radius: 50%;
}

.profile-pic {
  /* border-radius: 50%; */
}

.small-container {
}

.actions {
}

.card-a {
}

.title {
}

.description {
}

.announcements {
}

.card-b {
}

.trending {
}

.card-c {
}

.profile {
}

.container-hidden {
}

.user-handle {
}
