/* tbd */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fallback-fonts:
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    "segoe UI",
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  --paragraph-font-normal:
    normal normal 400 normal medium / normal "Fredoka",
    sans-serif;
  --paragraph-font-small:
    normal normal 400 normal small / normal "Fredoka",
    sans-serif;
  --paragraph-font-bold:
    normal normal 600 normal medium / normal "Fredoka",
    sans-serif;
  --display-font-large:
    normal normal 600 expanded 36px / normal "Coolvetica Rg",
    var(--fallback-fonts);
  --display-font-h3:
    normal normal 500 expanded x-large / normal "Coolvetica Rg",
    var(--fallback-fonts);
  --color-style-green: #cdee70;
  --color-style-whitebg: #faffff;
  --color-style-lightbluebg: #ccfff8;
  --color-style-red: #ff7676;
  --color-style-aqua: rgb(98 240 185);
  --color-style-gray-purple: #271d91;
  --color-style-dark-purple: #1f055c;
  --color-style-light-purple: #9173da;
  --box-shadow-button:
    rgb(45 35 66 / 40%) 0 2px 4px,
    rgb(45 35 66 / 30%) 0 7px 13px -3px,
    rgb(58 65 111 / 50%) 0 -3px 0 inset;
  --box-shadow-2:
    inset 0px -3px 23px -9px rgb(255 118 118 / 50%),
    0px 3px 13px -3px rgb(39 29 145 / 50%);
  --box-shadow-3:
    0px -3px 2px inset rgb(255 118 118 / 50%),
    0px 7px 13px -3px rgb(39 29 145 / 50%);
  --box-shadow-4:
    8px 0px 0 inset rgb(255 118 118 / 50%),
    0px 7px 13px -3px rgb(39 29 145 / 50%);
  --radial-gradient-1:
    radial-gradient(
      100% 100% at 100% 0,
      var(--color-style-red) 0%,
      var(--color-style-green) 100%
    );
}

body {
  box-sizing: border-box;
  width: auto;
  height: auto;

  /* background-color: ivory; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--color-style-dark-purple);
  font: var(--display-font-h3);
  font-size: revert;
}

h2 {
  /* font-size: revert;
  font-size: xx-large; */
}

.h-flex {
  display: flex;
  flex-direction: row;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

button {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding-right: 16px;
  padding-left: 16px;
  overflow: hidden;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  border: 0;
  border-radius: 8px;
  background-image: var(--radial-gradient-1);
  box-shadow: var(--box-shadow-button);
  color: var(--color-style-gray-purple);
  font: var(--paragraph-font-normal);
  font-size: 18px;

  /* line-height: 1; */
  list-style: none;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  appearance: none;
  will-change:
    box-shadow,
    transform;
}

.button:focus {
  box-shadow:
    #3c4fe0 0 0 0 1.5px inset,
    rgb(45 35 66 / 40%) 0 2px 4px,
    rgb(45 35 66 / 30%) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
}

button:hover {
  transform: translateY(-2px);
  box-shadow:
    rgb(45 35 66 / 40%) 0 4px 8px,
    rgb(45 35 66 / 30%) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
}

button:active {
  transform: translateY(2px);
  box-shadow: #3c4fe0 0 3px 7px inset;
}

.search-input {
  border-radius: 8px;
  background-color: var(--color-style-whitebg);
}

p {
  color: var(--color-style-light-purple);

  /* font-family: "Fredoka", sans-serif;
  font-size: small; */

  font: var(--paragraph-font-normal);
}

.large-container {
  flex-wrap: wrap;

  /* width: max-content; */
  height: max-content;
  margin: 0;
  padding: 0;
  background-color: var(--color-style-whitebg);

  /* overflow: hidden; */
}

.sub-container {
  display: flex;
  flex: auto;

  /* overflow: hidden; */
  flex-wrap: wrap;
  width: max-content;
  height: max-content;
  margin: 0;
  padding: 1em 5em;
  background-color: var(--color-style-lightbluebg);
}

.sidebar {
  width: min-content;
  padding: 1rem;
  background-color: #cdee70;
}

.sidebar + .sub-container {
  box-shadow: var(--box-shadow-2);
}

.logo {
}

.header {
  padding: 1em;
}

.logo-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  color: var(--color-style-gray-purple);
}

.logo-bar h1 {
  font: var(--display-font-large);
}

.user-bar {
  /* padding-left: 1rem; */
  display: grid;
  grid-template-columns: 1fr;

  /* margin-top: 2rem; */
}

nav {
  display: flex;
}

.nav-item {
  display: flex;
  flex-direction: row;
  gap: 24px;

  /* height: min-content; */
  align-items: center;
  height: max-content;

  /* padding: 0;
  margin: 0; */
  padding-left: 0.5em;
}

.icon {
  max-width: 24px;
  height: fit-content;

  /* margin: 0;
  padding: 0; */
}

.nav-item-text {
  margin: 1rem;
  color: var(--color-style-gray-purple);
  font: var(--paragraph-font-bold);
}

header {
  background-color: azure;
}

.upper-header {
  display: inherit;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-style-lightbluebg);
  gap: 4em;
}

.search {
  gap: 1em;
  align-items: center;
}

.notifications {
  display: inherit;
  gap: 2em;
  align-items: center;

  /* padding: 1em; */
  justify-content: space-evenly;
  width: fit-content;
  text-align: center;
}

.gradient-border {
  box-sizing: content-box;
  width: fit-content;
  height: fit-content;
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #fdcaca 0%, rgb(31 35 253) 100%);
}

.profile-pic {
  max-width: 24px;
  max-height: 24px;
}

.notifications .profile-pic {
  /* box-sizing: content-box; */
  max-width: max-content;
  max-height: max-content;

  /* border-radius: 50%; */
}

.notifications img {
  width: 4em;
}

.small-container {
  display: inherit;
  text-align: left;
}

.actions {
  display: inherit;
  gap: 1em;
}

main {
  padding: 1em;
}

main h1 {
  padding-top: 2em;
}

.card-a {
  display: flex;
  gap: 15px;
  position: relative;
  z-index: index 2;
  flex-direction: column;
  max-width: 50%;
  margin: 1em;
  padding: 2em 1.5em;
  border-radius: 0;
  border-radius: 0 8px 8px 0;
  box-shadow: var(--box-shadow-2);
}

.card-a::before {
  content: "";
  position: absolute;
  z-index: index 1;
  top: 0;
  bottom: 0;
  left: -8px;
  width: 8px;
  border-radius: 8px 0 0 8px;
  box-shadow: var(--box-shadow-4);
}

.card-a .flex-item {
  /* display: block; */
  flex: 0 1 auto;
  align-self: auto;
}

.card-a h3 {
  font: var(--display-font-h3);
}

.card-a .icon {
  width: 48px;
  margin: 1em;
}

.card-a .icon-box {
  align-items: end;
}

.title {
}

.description {
}

.announcements {
  max-width: 25%;
  margin: 0;
  padding: 0;
  box-shadow: var(--box-shadow-3);
}

.announcements .sub-container {
  max-width: fit-content;
  margin: 0;
  padding: 0;
  background-color: unset;
}

.card-b {
  box-sizing: border-box;
  max-width: fit-content;
  padding: 1em;
  border-radius: 4px;
  box-shadow: var(--box-sizing-border-box-2);
}

.card-b p {
  padding-top: 1em;
}

.trending {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  width: fit-content;
  padding: 2em;
}

.card-c {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.profile {
}

img.profile {
  max-width: 48px;
  max-height: 48px;
}

.container-hidden {
  align-items: start;
  padding: 1em;
}

.user-handle {
  font: var(--paragraph-font-normal);
}
